body {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    background: rgb(237, 146, 34);
    border-radius: 30px;
    padding-left: 10px;
    font-size: 17px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li:nth-child(odd){
    background: rgb(247, 187, 112);
}

.check-box {
    position: relative;
    top: 1.5px;
    right: 2px;
}

.enter-button {
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 80px;
    margin: 10px;
    background-color: rgb(171, 168, 164);
}

.remove-button {
    position: absolute;
    right: 450px;
    border: none;
    background-color: inherit;
}


.reset-button {
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 80px;
}

.heading {
   background-color: aliceblue;
   border-radius: 30px;
}

.input-bar {
    border: none;
    border-radius: 30px;
    width: 400px;
    height: 40px;
    font-size: 125%;
    background-color: pink;
    padding-left: 10px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 40px;
}
